footer{
    background-color: rgb(255, 255, 255);
    margin-top: 900px;  
    color: rgb(0, 0, 0);
    height: 200px;
    padding: 150px
}
.kaktus{
    display: flex;
    justify-content: center;
    height: 80px;
    margin: 3px;
    padding: 10px;

}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.svg{
    transition: .3s ease;
}

svg:hover{
    fill: rgb(0, 255, 42);
}

.kokos{
    display: flex;
    justify-content: center;

}

.ananas{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 4px;
    color: rgb(0, 0, 0);
    text-indent: 16px;
}

body{
    background-color: black;
}
.alečau{
    margin: 10px;
    justify-content: center;
}